---
extends: default

rules:
  line-length:
    max: 80
  comments-indentation:
    level: warning
  document-start:
    present: true
  new-lines:
    type: unix

ignore: |
  README.md
  CHANGELOG.md
  CONTRIBUTING.md
  *.md
  dist/
  src/bin/
  src/obj/
  scripts/
  docs/
  images/
  .MyWorkspace/
